.project
.classpath
target/
.settings/

Bathroom/.project
Bathroom/.classpath
Bathroom/target/
Bathroom/.settings/

BinaryTree/.project
BinaryTree/.classpath
BinaryTree/target/
BinaryTree/.settings/

Philosopher/.project
Philosopher/.classpath
Philosopher/target/
Philosopher/.settings/